doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div
      p
        | This is a multiline 
        | paragraph in pug 
    div
      block something
